infrastructure/.terraform.lock.hcl
infrastructure/.terraform
scripts/ssh/send_my_ssh_key_to_workstation.bash


infrastructure/modules/helm/.terraform
infrastructure/modules/helm/.terraform.lock.hcl

infrastructure/modules/helm/terraform.tfstate.backup
infrastructure/modules/helm/terraform.tfstate



infrastructure/modules/keycloak/.terraform.tfstate
infrastructure/modules/keycloak/.terraform
infrastructure/modules/keycloak/.terraform.lock.hcl